.home {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-button-container {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}
.home-button-create-group {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-weight: 600;

}
