.balance-section-participant {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  padding: 10px;

  .balance-section-participant-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;

    .balance-section-participant-info-total {
      background-color: rgb(255, 155, 155);
      width: fit-content;
      padding: 10px;
      border-radius: 5px;
    }
  }

  .balance-section-participant-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .balance-section-participant-payment {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
