.group {
  .group-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 15px 0px;
    
    .group-header-back {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .group-header-name {
      display: flex;
      gap: 10px;

      span {
        display: flex;
        justify-content: center;
        align-self: center;
      }
      span:hover {
        cursor: pointer;
      }
    }
    
    .group-header-users span{
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
    }
  }
  
  .group-titles-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    margin-bottom: 10px;
  }
}
